<html>
  <head>
    <title>2D Canvas</title>
    <style type="text/css">
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
      }

      canvas {
        border: 5px dotted blue;
      }
    </style>
  </head>



  <body>
    <canvas id="canvas" width="800" height="600">
      <script>
        let canvas = document.querySelector("#canvas");
        let context = canvas.getContext("2d");
        
      </script>
    </canvas>
  </body>
</html>
