.settings {
    position: absolute;
    top: 102%;
    left: 95%;
    display: flex;
   justify-content: space-between;
   width: 18rem;
}


.settingsicon {
 
    width: 2rem;
    height: auto;
}


.settingscontrol{
    
    display: flex;
    flex-direction: column;
    width: 15rem;
   

}